/* General styling */
.contactContainer {
    padding-top: 8rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .contactHeading {
    font-size: 3rem;
  }
  
  .contactDescription {
    font-size: 1.125rem;
    color: #4a4a4a;
  }
  
  .contactDetails {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  /* Form Section */
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .formInput,
  .formTextarea {
    background-color: transparent;
    border: 1px solid #4a90e2;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .formTextarea {
    resize: vertical;
  }
  
  .submitBtn {
    background-color: #4a90e2;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .submitBtn:hover {
    background-color: #357ab7;
  }

  /* Media Queries */
  @media (max-width: 768px) {
   .contactGrid {
    padding: 20px;
      grid-template-columns: 1fr;
    }
  }
  